<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Licenciatura em Indormática</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div id="container">
    <div id="topo">
      <h1 class="logo"></h1>
    </div>
  </div>

  <div id="lateral">
    <div class="caixa">
        <h2>Períodos</h2>
        <div class="caixa-conteudo">
            <ul><a href="primeiro">1º Período</a></ul>
            <ul><a href="segundo">2º Período</a></ul>
            <ul><a href="terceiro">3º Período</a></ul>
            <ul><a href="quarto">4º Período</a></ul>
            <ul><a href="">5º Período</a></ul>
            <ul><a href="">6º Período</a></ul>
            <ul><a href="">7º Período</a></ul>
            <ul><a href="">8º Período</a></ul>

        </div>
    </div>
  </div>
    

  <div id="secundario">
    <img src="{{url_for('static', filename='/imagens/img2.png') }}" alt="fundo">
  </div>
</body>
</html>