<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Licenciatura em Indormática</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div id="container">
    <div id="topo">
      <h1 class="logo"></h1>
      <ul id="navegacao">
        <li><a href="/home">Home</a></li>
        <li><a href="/home">Notícias</a></li>
        <li><a href="/home">Home</a></li>
        <li><a href="/home">Home</a></li>
        <li><a href="/home">Notícias</a></li>
        <li><a href="/home">Home</a></li>


      </ul>
    </div>
  </div>

  <div id="lateral">
    <div class="caixa">
        <h2>Períodos</h2>
        <div class="caixa-conteudo">
            <ul>
              <li><a href="primeiro">1º Período</a></li>
              <li><a href="segundo">2º Período</a></li>
              <li><a href="terceiro">3º Período</a></li>
              <li><a href="quarto">4º Período</a></li>
              <li><a href="">5º Período</a></li>
              <li><a href="">6º Período</a></li>
              <li><a href="">7º Período</a></li>
              <li><a href="">8º Período</a></li>
            </ul>
        </div>
    </div>
  </div>
    

  <div id="secundario">
    <h2>Disciplinas do Primeiro Período</h2>
    
    <div class="lista">
        <ul>Desenvolvimento de Práticas Educativas e Formação Docente I</ul>
        <ul>Fundamentos da Educação I</ul>
        <ul>Informática</ul>
        <ul>Língua Portuguesa</ul>
        <ul>Matemática</ul>
        <ul>Pensamento Computacional</ul>
        <ul>Seminário de Integração Acadêmica</ul>
        <ul>Seminário de Orientação ao Desenvolvimento<br> de Práticas Educativas e Formação Docente I</ul>
    </div>
  </div>
</body>
</html>